{{#resume.basics}}
<h1>{{name}}</h1>
<h2>{{label}}</h2>
<section id="basics">
	<div class="contact">
		{{#if profiles.length}}
		{{#each profiles}}
		<div class="profiles">
			{{#if name}}
			<p>{{name}}</p>
			{{/if}}
			{{#if link}}
			<p><a href={{link}}>{{link}}</a></p>
			{{/if}}
		</div>
		{{/each}}
		{{/if}}
		{{#if email}}
		<div class="email">
			<strong>Email</strong>
			{{email}}
		</div>
		{{/if}}
		{{#if phone}}
		<div class="phone">
			<strong>Phone</strong>
			{{phone}}
		</div>
		{{/if}}
	</div>
	{{#if summary}}
	<div class="summary">
		<p>{{summary}}</p>
	</div>
	{{/if}}
	{{#location}}
	<h3>Location</h3>
	<section id="location">
		{{#if address}}
		<div class="address">
			<strong>Address</strong>
			{{address}}
		</div>
		{{/if}}
		{{#if postalCode}}
		<div class="postalCode">
			<strong>Postal code</strong>
			{{postalCode}}
		</div>
		{{/if}}
		{{#if city}}
		<div class="city">
			<strong>City</strong>
			{{city}}
		</div>
		{{/if}}
		{{#if countryCode}}
		<div class="countryCode">
			<strong>Country code</strong>
			{{countryCode}}
		</div>
		{{/if}}
		{{#if region}}
		<div class="region">
			<strong>Region</strong>
			{{region}}
		</div>
		{{/if}}
	</section>
	{{/location}}
</section>
{{/resume.basics}}